# Editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Borradores y exports
*reparado*.html
*.csv
Nuevo documento de texto.txt
BIND.txt

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
